form {
  margin: 1vw 0vw;
}

body {
  background: linear-gradient(237deg, #40b9ff, #87ffbd);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;
  margin: 0;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gameroom-body {
  background-image: url('background.png');
  background-repeat: repeat;
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-bottom: 10vw;
}

.navbar {
  height: 170px;
}

.gameroom-logo {
  width: 21vw;
  height: 158px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.hangman-board {
  background-color: white;
  border-radius: 30px;
  width: 45%;
  height: 100px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 11.75%;
  box-shadow: #333333 0px 3px 20px;
}

.hangman {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

.circle-left {
  display: inline-block;
  float: left;
  width: 17px;
  height: 17px;
  background-color: #008ccd;
  border-radius: 17px;
  margin-left: 20px;
  margin-top: -20px;
}

.circle-right {
  display: inline-block;
  float: right;
  width: 17px;
  height: 17px;
  background-color: #008ccd;
  border-radius: 17px;
  margin-right: 20px;
  margin-top: -20px;
}

.circle-left-brown {
  isplay: inline-block;
  float: left;
  width: 17px;
  height: 17px;
  background-color: #a64300;
  border-radius: 17px;
  margin-top: -33px;
}

.circle-right-brown {
  display: inline-block;
  float: right;
  width: 17px;
  height: 17px;
  background-color: #a64300;
  border-radius: 17px;
  margin-top: -33px;
}

.players-title {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.player-cards-container {
  min-height: 29.5vw;
}

.gameroom-container {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.guess-the-word {
  display: block;
  margin: -20px auto 0;
  width: 80%;
  text-align: center;
}

.clear {
  clear: both;
}

.chatbox {
  background-color: #e9f998;
  width: 20vw;
  float: right;
  margin: 1vw 1vw;
  padding: 2vw 2vw;
  height: 40vw;
  box-shadow: 0 0 1rem #000000;
}

.chat-messages {
  height: 35vw;
  width: 18vw;
  border: 1px solid black;
  overflow: auto;
  font-family: Verdana;
  font-size: 1.2em;
  padding: 1vw 1vw;
}

.lobbybox {
  background-color: #ff8900;
  width: 17vw;
  float: left;
  margin: 0.5vw 1vw 1vw 4vw;
  padding: 1vw 1vw;
  height: 39vw;
  overflow: auto;
  box-shadow: 0 0 1rem #333333;
  border-radius: 30px;
  border: 8px solid white;
}

.playercard {
  background-color: #ffd200;
  margin: 1vw 0vw;
  padding: 1vw 1vw;
  border-radius: 10px;
  border: 3px solid #e15c11;
  width: 14.5vw;
  display: inline-block;
}

.single-player-container {
  width: 42vw;
}

.message {
  display: inline-block;
  background-color: #ecf9ff;
  position: absolute;
  margin: 1.5vw 1vw;
  padding: 1vw 1vw;
  height: 1.5vw;
  width: 14vw;
  border-radius: 1vw;
  text-align: center;
  box-shadow: 0 0 1px #000000;
}

.do-display {
  display: inline-block;
}

.canvas {
  width: 58vw;
  height: 42vw;
  float: right;
  margin: 0.25vw 15vw 0 1vw;
  background-color: white;
  box-shadow: 0 0 1rem #a35c5c;
  border: 5px solid black;
}

#round-text {
  width: 220px;
  height: 40px;
  background-color: #ffd200;
  color: black;
  font-size: 25px;
  text-align: center;
  line-height: 39px;
  margin-top: -60px;
  margin-left: 10px;
}

#color-pallete {
  width: 7vw;
  margin: 0;
  display: inline-block;
  float: right;
  margin-top: -575px;
  margin-right: -9vw;
}

.color-palette-square {
  width: 46%;
  margin: 2%;
  height: 45px;
  display: inline-block;
  float: left;
  padding: 0px;
}

.black {
  background-color: #000000;
}

.gray {
  background-color: #555555;
}

.brown {
  background-color: #6b2d01;
}

.red {
  background-color: #ff0000;
}

.orange {
  background-color: #ff6600;
}

.yellow {
  background-color: #ffd200;
}

.green {
  background-color: #05be16;
}

.blue {
  background-color: #0073e9;
}

.violet {
  background-color: #7d0087;
}

.pink {
  background-color: #ff007d;
}

.white {
  background-color: #fff;
}

img.eraser {
  height: 30px;
  width: auto;
}
.right {
  float: right;
  margin-bottom: 20px;
}
.clear-btn {
  display: block;
  width: 97%;
  font-size: 20px;
  margin: 0.25%;
  height: 40px;
  float: none;
  padding: 0px;
}
.brush-small {
  background-color: #fff;
  color: 'black';
  font-size: 12px;
  padding-top: 2px;
}

.brush-medium {
  background-color: #fff;
  font-size: 18px;
}

.brush-large {
  background-color: #fff;
  font-size: 33px;
}

.brush-large-text {
  margin-top: -2px;
}

.timer {
  background-image: url(timer-small.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  float: right;
  margin-top: 40px;
  margin-right: 39px;
}

.timer-text {
  font-size: 30px;
  text-align: center;
  /* background-color: #ff9393;
  width: 30px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px; */
  line-height: 100px;
}

.play-card {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 15vw 26vw;
  display: inline-block;
  height: 30vw;
  width: 40vw;
  padding: 2vw 4vw;
  border-radius: 2vw;
  box-shadow: 0 0 1rem #000000;
}

.input {
  width: 11vw;
  height: 30px;
  border: 3px solid #e15c11;
  padding: 5px 10px 2px;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.go-btn {
  width: 4vw;
  height: 43px;
  font-size: 16px;
  border: 3px solid #e15c11;
  margin-left: -2px;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.quick-play {
  text-align: center;
  font-size: 4em;
}

.homepage-form {
  text-align: center;
  margin: 2vw 0vw;
}

.form-input {
  height: 2vw;
  text-align: center;
  margin: 1vw 1vw;
}

.btn {
  flex: 1 1 auto;
  margin: 1vw 1vw;
  padding: 1vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 1px #000000;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #40b9ff 0%,
    #87ffbd 51%,
    #ffffff 100%
  );
  height: 4vw;
  width: 13vw;
  font-size: 1.1em;
}

.btn:hover {
  background-position: right center;
}

.logo {
  margin: 0vw 4vw;
  width: 30vw;
  height: 15vw;

  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.winner-card {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: absolute;
  top: 17vw;
  left: 8vw;
  height: 15vw;
  width: 83vw;
  border-radius: 1vw;
}

.winner-text {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

<<<<<<< HEAD
.choose-word-card {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: absolute;
  top: 17vw;
  left: 8vw;
  height: 19vw;
  width: 83vw;
  border-radius: 1vw;
}

.choose-word-text {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

.choose-word-button {
  font-family: Verdana;
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.choose-word-button:hover {
  font-family: Verdana;
  background-color: rgb(255, 121, 59);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.choose-buttons-margin {
  margin-top: 10px;
}

.loading-text {
=======
.loading-text2 {
>>>>>>> master
  font-size: 40px;
  text-align: center;
  margin: 10vw 30vw;
  color: white;
  box-shadow: 0 0 1rem black;
  display: inline-block;
  padding: 3vw 5vw;
  border-radius: 10px;
  background-color: rgba(169, 81, 81, 0.5);
}

.loading-text {
  font-size: 40px;
  text-align: center;
  margin: 10vw 35vw;
  color: white;
  box-shadow: 0 0 1rem black;
  display: inline-block;
  padding: 3vw 5vw;
  border-radius: 10px;
  background-color: rgba(169, 81, 81, 0.5);
}



* {
  font-family: 'Lato', sans-serif;
}

.cssload-loader {
  position: relative;
  left: calc(50% - 140px);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  perspective: 3500px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 13px solid rgb(255, 66, 255);
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 13px solid rgb(255, 121, 59);
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 13px solid rgb(255, 255, 61);
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
