form {
  margin:1vw 0vw;
}

body {
  background: linear-gradient(237deg, #40b9ff, #87ffbd);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.chatbox {
  background-color: #e9f998;
  width: 20vw;
  float: right;
  margin: 1vw 1vw;
  padding: 2vw 2vw;
  height: 40vw;
  box-shadow: 0 0 1rem #000000;
}

.chat-messages {
  height: 35vw;
  width: 18vw;
  border: 1px solid black;
  overflow: auto;
  font-family: Verdana;
  font-size: 1.2em;
  padding: 1vw 1vw;
}

.lobbybox {
  background-color: #ebff99;
  width: 15vw;
  float: left;
  margin: 1vw 1vw;
  padding: 2vw 2vw;
  height: 40vw;
  overflow: auto;
  box-shadow: 0 0 1rem #000000;
}

.playercard {
  background-color: #52c5ff;
  margin: 1vw 1vw;
  padding: 1vw 1vw;
  border-radius: 10px;
}

.canvas {
  width: 49vw;
  height: 44vw;
  float: left;
  margin: 1vw 1vw;
  background-color:white;
  box-shadow: 0 0 1rem #000000;
}

.timer {
  width: 6vw;
  height: 6vw;
  background-color: #ff9393;
  position: absolute;
  left: 64vw;
  top: 3vw;
  border-radius: 50%;
}

.timer-text {
  margin: 1.3vw 2.3vw;
  font-size: 2em;
}

.input {
  width: 16vw;
  border-radius: 1vw;
}

* {
  font-family: 'Lato', sans-serif;
}
